/* colors */
.oxfordblue {
    background-color: #A499B3;
}
.charcoal {
    background-color: #465362;
}
.cambridgeblue {
    background-color: #82a3a1;
}
.olivine {
    background-color: #9fc490;
}
.teagreen {
    background-color: #c0dfa1;
}
/* transitions */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideintop {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideinbottom {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

/* dividers */
.divider1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.divider1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 141px;
}

.divider1 .shape-fill {
    fill: #82a3a1;
}


/* rest of code */
body {
    margin: 0;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: column;
    min-height: 800px;
}

.aboutme {
    min-height: 1000px;
}

#name {
    text-align: center;
    font-family: 'Aguafina Script', cursive;
    font-size: 120px;
    margin-top: 275px;
    margin-bottom: 5px;
    animation-name: fadein, slideintop;
    animation-duration: 0.4s, 0.5s;
    animation-timing-function: ease;
    animation-delay:0.3s;
    animation-fill-mode: both;
}

#label {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px; 
    margin-top: 10px;
    margin-bottom: 10px;
    animation-name: fadein, slideintop; 
    animation-duration: 0.5s, 0.6s;
    animation-timing-function: ease;
    animation-delay: 1.2s;
    animation-fill-mode: both;
}

.media {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    animation-name: fadein, slideinbottom; 
    animation-duration: 0.5s, 0.6s;
    animation-timing-function: ease;
    animation-delay: 1.2s;
    animation-fill-mode: backwards;
    
}

.media img {
    width: 60px;
    padding: 25px;
}

.medias:hover {
    transform: scale(0.85);
}